* {
	font-family: 'Source Sans Pro', sans-serif;
}
header { 
	background-color: #2d6492; 
	padding-top:50px;
	padding-bottom: 50px;
	color: white;

}
/*.col-4 { background-color: green; }*/
/*.col-8 { background-color: blue; }*/
footer { background-color: yellow; }

body {
	background-color: #f3f3f3;
}

.current-value { 
	/*height: 300px; */
	text-align: center;
	padding-top: 30px;
	font-size: 20px;
}

.invested {
	text-align: center;
}

.earned {
	text-align: center;
}
.portfolio, .control { 
	/*height :500px;*/
	background-color: white;
	border-radius: 2px;
	padding: 10px 10px;
	margin-top: 20px;
}
.control { 
	/*height: 200px;*/
}

.searchSymbol, .enterAmount {
	width: 150px;
	height: 30px;
	font-size: 25px;
	padding-left: 5px;
	border-radius: 5px;
	/*background-color: gray;*/
	outline: none;
	box-shadow: none;
	background-color: rgba(241, 241, 241, 0.80);
	border: 1px solid black;
}

.amount, .search {
	padding-top: 20px;
	padding-bottom: 20px;
}

.buyNew {
	width: 80px;
	height: 36px;
	font-size: 20px;
	background-color: aqua;
	padding: 5px 5px;
	border-radius: 5px;
	border: 0.5px solid black;
	background-color: rgba(63, 85, 247, 0.88);
	color:white;
	cursor: pointer;
}

.list { 
	/*background-color: white;*/ 
	padding-top: 20px; 
	padding-bottom: 20px; 
	padding-left: 25px;
	padding-right: 25px;
	border-bottom: solid 1px;
}

.list-button {
	/*margin: auto;*/
	text-align: center;
	margin-top: 30px;
}

.buy-more, .sell {
	width: 60px;
	height: 28px;
	font-size: 18px;
	background-color: aqua;
	/*padding: 5px 5px;*/
	border-radius: 5px;
	border: 0.5px solid black;
	background-color: rgba(63, 85, 247, 0.88);
	color:white;
	outline: none;
	cursor: pointer;
}

.list-button-quantity {
	width: 120px;
	font-size: 25px;
	padding-left: 5px;
	border-radius: 5px;
	/*background-color: gray;*/
	outline: none;
	box-shadow: none;
	background-color: rgba(241, 241, 241, 0.80);
	border: 1px solid black;
	font: black;
}

.buying-power { 
	/*height: 50px; */
	/*background-color: red; */
	padding-top: 20px; 
	padding-bottom: 20px; 
	padding-left: 20px;
}
.add { 
	/*height: 150px; */
	/*background-color: purple; */
	padding-top: 20px; 
	padding-bottom: 20px; 
}



.login, .signup {
	margin: 20% auto;
}

form {
	text-align: center;
}